
.titulo{
    color:red;
}
.background{ 
    background-color:cyan;
}
.link{
    color: blue;
    background-color: aqua;
    border-color: black;
}
.link2{
    color: red;
    background-color: aqua;
    border-color: black;
}

.box{
    border-style: solid;
    border-color: black;
    border-width: 1px;
    background-color: beige;
}
.box2{
    border-style: solid;
    border-color: black;
    border-width: 1px;
    background-color: beige;
}

.background2{
    background-color: lightskyblue;
}
.background3{
    background-color: aliceblue;
}